@import './layout/header.scss';
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import './theme/input.scss';
@import './theme/button.scss';

.pink {
    background-color: pink;
    border-color: pink;
}